

    
{% extends "base.html" %}
{% load widget_tweaks %}
{% load workout_tags %}
{% block title %}{{ run.title }}{% endblock %}
{% block content %}
<div class="card-header">
    Add New Run
</div>
<div class="card-body">
	
<form class="align-items-center" method="POST" action="">
	{% csrf_token %}

	<!-- {{form}} -->
	{% for field in form.visible_fields %}
		<div class="form-group">
			{{ field.label_tag }}
			{% render_field field class="form-control" %}
		</div>
	{% endfor %}

	<input class="btn btn-outline-primary" type="submit" name="Add New Run">
	
	
</form>

</div>

 {% endblock %}