{% extends "base.html" %}
{% load workout_tags %}
{% block title %}{{ run.title }}{% endblock %}
{% block content %}

<div class="card-header">
    {{ run.name }} - Completed on {{ run.date }}
</div>

<div class="card-body">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1 class="display-1">{{ run.distance }}</h1>
                <p class='lead'>distance (km)</p>
            </div>
            <div class="col-md-3">
                <h1 class="display-1">{{ run.pace|convert_to_minutes }}</h1>
                <p class="lead">pace (min/km)</p>
            </div>
            <div class="col-md-3">
                <h1 class="display-1">{{ run.duration|convert_to_minutes}}</h1>
                <p class="lead">duration</p>
            </div>
            <div class='col-md-3 text-center'>
                <a href="{% url 'workout:edit_run' run.id %}" class="btn btn-outline-secondary">Edit Run</a>
                <a href="{% url 'workout:delete_run' run.id %}" class="btn btn-outline-danger">Delete Run</a>
            </div>
        </div>
    </div>
       
</div>
 {% endblock %}